<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br />
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    User ID
    <%#= f.label :userNumber %><br />
    <%= f.text_field :userNumber %>
  </div>

  <div class="field>
    <b> Availability </b>
  </div>

  <div class="field">
    Weekday Mornings
    <%#= f.label :dayMorning %><br />
    <%= f.check_box :dayMorning %>
  </div>
<br>
  <div class="field">
    Weekday Afternoons
    <%#= f.label :dayAfternoon %><br />
    <%= f.check_box :dayAfternoon %>
  </div>
<br>
  <div class="field">
    Weekend Mornings
    <%#= f.label :endMorning %><br />
    <%= f.check_box :endMorning %>
  </div>
<br>
  <div class="field">
    Weekend Afternoons
    <%#= f.label :endAfternoon %><br />
    <%= f.check_box :endAfternoon %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
